@page "/wizarddemo"
    <ccBlazor.Components.Wizard Id="DemoWizard">
        <ccBlazor.Components.WizardStep Name="First Step">
            <div class="row">
                <p>This is the first step. You can enter something useful in here.</p>
            </div>
        </ccBlazor.Components.WizardStep>
        <ccBlazor.Components.WizardStep Name="Second Step">
            <div class="row">
                <p>Wow, you've reached the second step!</p>
            </div>
        </ccBlazor.Components.WizardStep>
        <ccBlazor.Components.WizardStep Name="Final Step">
            <div class="row">
                <p>The final step has been reached. Thank you \o/</p>
            </div>
        </ccBlazor.Components.WizardStep>
        <ccBlazor.Components.WizardStep Name="Final Final Step">
            <div class="row">
                <p>The final Final step has been reached. Thank you \o/</p>
            </div>
        </ccBlazor.Components.WizardStep>
        <ccBlazor.Components.WizardStep Name="Final Final Final step">
            <div class="row">
                <p>The final Final final step has been reached. Thank you \o/</p>
            </div>
        </ccBlazor.Components.WizardStep>
    </ccBlazor.Components.Wizard>